@import '@fontsource/ibm-plex-mono';

* {
  box-sizing: border-box;
}

:root {
  --square-light: #f0ead2;
  --square-dark: #dde5b6;
  --dark: #a98467;
  --player-white: white;
  --player-black: black;
  --move-highlight: #6c584c;
  --todo: #adc178;
  --todo-gray: #dfd3bf;
}

html {
  height: 100%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--square-dark);
  color: var(--dark);
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: .6rem 0;
}

menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 1rem;

  & h1 {
    font-weight: bold;
    letter-spacing: -.1rem;
    margin: 0;
  }

  & li {
    width: 100%;
    max-width: 24rem;
    text-align: justify;

    &:first-child {
      display: flex;
      align-items: center;
      gap: .5rem;
      max-width: fit-content;
      margin: 1rem 0;
    }
  }

  & a {
    border: .3rem solid var(--square-light);
    background-color: transparent;
    color: var(--dark);
    padding: 1rem 2rem;
    max-width: 24rem;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;

    &.filled {
      background-color: var(--square-light);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#white,
#black {
  position: absolute;
  background: var(--square-light);
  z-index: 1;
  left: 0;
  right: 0;
  padding: .6rem;

  & .name {
    font-weight: bold;
  }

  &.active .name {
    text-decoration: underline;
    animation: blink .2s;
  }

  & span {
    display: inline-block;
  }
}

#white {
  top: 0;
  border-bottom: .3rem solid var(--dark);
}

#black {
  bottom: 0;
  border-top: .3rem solid var(--dark);
}

#board {
  border-spacing: 0;
  border: .6rem solid var(--square-light);
  table-layout: fixed;
  width: calc(3rem * var(--cells-horizontaly));
}

.cell {
  width: 3rem;
  height: 3rem;
  background-color: var(--square-dark);
  background-position: center;
  background-repeat: no-repeat;

  &.piece-to-move {
    background-image:
      /* --background-image-url is injected using JavaScript */
      var(--background-image-url);
  }

  &.highlighted.piece-to-move {
    background-image:
      /* --background-image-url is injected using JavaScript */
      var(--background-image-url),
      radial-gradient(circle at center, red 0, transparent 1.3rem);
  }

  &.highlighted:not(.piece-to-move) {
    background-image:
      radial-gradient(circle at center, var(--move-highlight) 0, var(--move-highlight) .3rem, transparent .3rem);
  }

  &.selected {
    filter: brightness(1.2);
  }

  &.castle {
    border: .3rem dashed var(--dark);

    /* --outline is injected using JavaScript */
    outline: .3rem solid var(--outline);
  }

  &.wall::after {
    content: "";
    background: var(--dark);
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    margin: auto;
  }

  &.piece-to-move {
    cursor: grab;
  }

  &.not-available {
    cursor: not-allowed;
    filter: grayscale(1);
  }

  & .cell-annotation {
    background-color: var(--square-light);
    padding: .1rem;
    font-size: 80%;
    width: .8rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
  }
}

td.cell .cell-annotation {
  margin-left: -.3rem;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--square-light);
}

dialog {
  max-width: 30rem;
  padding: .6rem;
  border: none;
  background-color: var(--square-light);
  color: var(--dark);

  &:focus {
    outline: none;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .3);
  }
}

button,
a.button {
  border-radius: 0;
  border: none;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;

  background-color: var(--square-dark);
  padding: .2rem .5rem;
  text-decoration: none;
  color: var(--dark);

  &:hover:not(:disabled) {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    filter: grayscale(1);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#player-buttons {
  padding: .6rem;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: .6rem;

  & button {
    background-color: var(--square-light);
  }

  &.white {
    top: 2.6rem;
    animation: slide-up .5s ease-out;
  }

  &.black {
    bottom: 2.6rem;
    animation: slide-down .5s ease-out;
  }
}

#castle-menu {
  width: calc(3rem * 6 + .6rem * 7);

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: .6rem;
  }

  & #castle-menu-pieces {
    display: grid;
    grid-template-columns: repeat(6, 3rem);
    gap: .6rem;

    & li {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}

#game-over {
  text-align: center;
  color: var(--dark);

  & p {
    margin-top: 0;
  }
}