#board {
  border-spacing: 0;
}

td {
  width: 3rem;
  height: 3rem;
  background-color: #d8d8d8;
}

tr:nth-child(odd) td.cell-empty:nth-child(even),
tr:nth-child(even) td.cell-empty:nth-child(odd) {
  background-color: #f0f0f0;
}

.cell-factory {
  background-color: lightgreen;
}