/* TODO: change cursors */

@import '@fontsource/ibm-plex-mono';

* {
  box-sizing: border-box;
}

:root {
  --square-light: #f0ead2;
  --square-dark: #dde5b6;
  --border: #a98467;
  --player-white: white;
  --player-black: black;
  --todo1: #6c584c;
  --todo2: #adc178;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--square-dark);
  color: var(--border);
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  max-width: fit-content;
}

#white,
#black {
  margin-top: 1rem;
  font-size: xx-large;
  font-weight: bold;
}

:is(#white, #black).active {
  text-decoration: underline;
  
  &::after {
    content: '<';
  }
}

#board {
  margin-top: 1rem;
  border-spacing: 0;
  border: .6rem solid var(--square-light);
}

td {
  width: 3rem;
  height: 3rem;
  background-color: var(--square-light);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &.selected {
    filter: brightness(1.2);
  }

  &.factory {
    border: .3rem dashed var(--border);
    outline: .3rem solid var(--outline); /* --outline is injected using JavaScript */
  }
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--square-dark);
}